<%= form.hello %><br>
<%= form_for form, method: "GET", url: search_index_path do |f| %>
<%= f.label :id %>：<%= f.text_field :id %>
<%= f.label :col1 %>：<%= f.text_field :col1 %>
<%= f.label :col2 %>：<%= f.text_field :col2 %>
<br>
<%= link_to '検索条件クリア', search_index_path, class: "square_btn" %>
<%= f.submit "検索", class: "submit_button" %>
<% end %>

<style type="text/css">
#list1 .id {
    width: 4em;
}
#list1 td {
    width: 15em;
    background-color: rgb(245, 239, 239);
    padding-left: 0.5em;
}
#list1 th {
    background-color: rgb(245, 222, 222);
    font-weight: normal;
}
</style>

<!-- 追加箇所開始 -->
<%= page_entries_info list unless list.empty? %>
<!-- 追加箇所終了 -->

<table id="list1">
        <th>id</th>
        <th>col1</th>
        <th>col2</th>
        <th>cid</th>
        <th>ccol1</th>
    <% list.each do |item| %>
    <tr>
        <td class="id"><%= item[:id] %></td>
        <td><%= item[:col1] %></td>
        <td><%= item[:col2] %></td>
        <td class="id"><%= item[:cid] %></td>
        <td><%= item[:ccol1] %></td>
    </tr>
    <% end %>
</table>

<%= paginate list unless list.empty? %>

<!-- ラベル用 -->
<style type="text/css">
label {
    margin-left: 1em;
}
</style>

<!-- 検索ボタン用 -->
<style type="text/css">
.submit_button {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border-style: none;
}
</style>

<!-- 検索条件クリア用 -->
<style type="text/css">
.square_btn {
    margin-top: 1em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.square_btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
</style>